.App {
	text-align: center;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

img {
	width: 250px;
	height: 250px;
}

nav {
	display: flex;
	justify-content: space-around;
	margin-top: 50px;
}

a {
	justify-content: space-around;
	text-decoration: none;
	color: black;
	font-size: 20px;
}

a:hover {
	color: #f5b32f;
}

p {
	padding: 0 150px 0 150px;
}
